input.mp4
frames/
build/clips/
build/txt/
build/comps/
build/qa/
build/list.txt
build/chk_*.png
input2.mp4
build/clips2/
build/txt2/
build/list2.txt
build/vo/
build/ball_logo.png
build/v2_*
build/crowd_side*
build/bed_test.wav
build/*.png
build/voices/
input3.mp4
build/clips3/
build/txt3/
build/list3.txt
build/vo3/
build/voices/
build/interp50.mp4
build/v3_*
input3.mp4
input4.mp4
build/interp50*.mp4
build/vo3/
build/vo4/
build/txt3/
build/txt4/
build/clips3/
build/clips4/
build/list3.txt
build/list4.txt
build/v3_*
build/v4_*
build/frz*
build/comp_frz*
